.inner-search-box{
  position: relative;
}
.search-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

input.input-box {
  border-radius: 4px;
  background: #212121;
  border: none;
  outline: none;
  padding: 8px 14px;
  width: 100%;
  padding-left: 45px;
  color: #fff;
}
