<div class="top_header_tool">
  <div class="full_column">
    <div class="column_left">
      <div class="header_title">
          <h4>Figma Preview</h4>
      </div>
    </div>
    <div class="column_right">
      <ul>
        <li>
           <!--<a href="https://www.figma.com/design/1id9Vl9tD4iXOiZlTfunCp/Case-Study-(Copy)?node-id=0-1&t=xvFnE2VcRgOFZ849-1"> !-->
            <span>
              <img src="./assets/img/tf.svg" alt="">
            </span>
         
        </li>
      </ul>
    </div>
  </div>
</div>
